.sidebar {
  width: 20rem;

  &__profile-img-container {
    border: 2px solid black;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
  }

  .fields {
    display: flex;
    gap: .5rem;
    align-items: center;

    &__descriptor {
      width: 10rem;
    }
  }
}